.package-detail-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}

.package-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 25px;
  color: #3b2f2f;
}

/* Image Gallery */
.image-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.image-gallery img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

/* Info */
.package-info {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.price {
  font-size: 26px;
  font-weight: bold;
  color: #c0392b;
}

.date {
  margin: 10px 0;
  color: #555;
}

.description {
  
  
  /* margin-right: 300px; */
  margin-top: 4px;
}

/* Catering */
.catering {
  margin-top: 35px;
  padding: 20px;
  background: #eae8e7;
  border-radius: 12px;
}
.package-info p{
  font-size:16px;
  margin:8px 0;
}




.catering h2 {
  margin-bottom: 10px;
  color: #5a2d0c;
}

.thali-price {
  margin-top: 8px;
  font-weight: bold;
  color: #e67e22;
}

/* Button */
.book-btn {
  margin-top: 30px;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: rgb(252, 252, 252);
  cursor: pointer;
  transition: transform 0.2s;
}

.book-btn:hover {
  transform: scale(1.03);
}

.loading {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}
.other-packages {
  margin-top: 60px;
}

.other-packages h2 {
  margin-bottom: 20px;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  gap: 20px;
}

.package-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.package-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  font-weight: bold;
}

.card-footer button {
  background: #090909;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  height: 40px;
}

