* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #8f3b24;
  padding: 15px;
  width: 100%;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
